"Month group*

db_all_incomplete_sets_parsed.json
all_xls
targeted_analysis_trays.json

out
*~lock*#

# Common
*.s
*~
*.swp
*.swo

# Sublime Text related
*sublime-project
*.sublime-workspace

# JVM related (Java, Scala, Clojure, etc.)
projectFilesBackup
*.class
*.iml
*.ipr
*.iws
*.idea
target/
*lib_managed
*src_managed
project/boot
project/plugins/project
generatedCache

# OS X related
*.DS_Store


# Python related
.ipynb_checkpoints
*.pyc

# Object, Linking files (e.g. gcc...)
*.ll
*.o

# Unknown / Misc.
benchmark/times
test-out/*/*-log
test-out/*/*-skel
test-out/*/*-src
profiler/less

/local.properties
build
published
generated
nightlies

*.deg
*.debug
*.pgm


data/word_vectors/text8-vector.bin

index-*.html
src/main/resources/tessdata
LOG_*
here*
out_ignoreme_final
OUTPUT_*

*.class
*.log
*.swp
project/target
.idea*
*.DS_Store

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
